.projects {
  padding: 2rem;
  text-align: center;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.project-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 300px;
  width: 800px;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

.project-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.project-item h3 {
  font-size: 1.5rem;
}

.project-item p {
  font-size: 1rem;
  text-align: justify;
  color: #333;
}

.project-item a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.project-item a:hover h3 {
  color: #007bff;
}
