footer {
  position: absolute;
  bottom: 1%;
  left: 50%;
  background-color: #cebcfe;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
  width: 99%;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
  text-align: center;
}
