.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 1%;
  padding: 1rem 2rem;
  z-index: 1;
  border-radius: 10px;
  background-color: #a78bfa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-logo {
  width: 50px;
  height: 50px;
  border-radius: 25%; /* Makes the image circular */
  background-color: black;
}

.header-title {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.header-logo-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-nav {
  display: flex;
  gap: 1.5rem;
}

.header-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease;
}

.header-link:hover {
  color: #007bff;
}

.header-link.active {
  color: purple; /* Highlight the active link */
  font-weight: bold;
}
